* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    background-color: rgb(245, 224, 148);
}

h1 {
    margin: 20px;
}

.categorie-ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.categorie-ul li {
    margin: 20px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 20px 0 20px 0;
}

.categorie-ul li:hover {
    cursor: Pointer;
    transform: scale(1.05);
}